# DataBase-style DataFrame Merges

In [16]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({'key':['Jake','kim','Amy'],'age':range(3)})

In [3]:
df1

   age   key
0    0  Jake
1    1   kim
2    2   Amy

In [4]:
df2  = pd.DataFrame({'key':['Jake','kim','Amy'],'height':[170,160,190]})

In [5]:
df2

   height   key
0     170  Jake
1     160   kim
2     190   Amy

In [6]:
pd.merge(df1,df2)

   age   key  height
0    0  Jake     170
1    1   kim     160
2    2   Amy     190

# Merging On Index

In [13]:
left1 = pd.DataFrame({'key':['a','b','a','a','b','c'], 'value': range(6)})
right1 = pd.DataFrame({'goup_val':[3.5,7]}, index = ['a','b'])
left1

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

In [12]:
right1

   goup_val
a       3.5
b       7.0

In [9]:
pd.merge(left1, right1, left_on='key', right_index = True)

  key  value  goup_val
0   a      0       3.5
2   a      2       3.5
3   a      3       3.5
1   b      1       7.0
4   b      4       7.0

In [10]:
pd.merge(left1, right1, left_on='key', right_index = True, how='outer')

  key  value  goup_val
0   a      0       3.5
2   a      2       3.5
3   a      3       3.5
1   b      1       7.0
4   b      4       7.0
5   c      5       NaN

# Concatenating Along an Axis

In [18]:
arr = np.arange(12).reshape((3,4))
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])