In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
#Create the Data Frame
df = pd.DataFrame(np.random.rand(10,4),columns=['A','B','C','D'])

In [5]:
df

          A         B         C         D
0  0.720911  0.051062  0.569506  0.561523
1  0.173205  0.995628  0.364326  0.022229
2  0.097346  0.250697  0.162018  0.493700
3  0.170719  0.923676  0.397296  0.297974
4  0.818420  0.928873  0.137527  0.806111
5  0.650068  0.235212  0.252791  0.146483
6  0.569207  0.134996  0.136063  0.101821
7  0.203528  0.462884  0.755895  0.522374
8  0.886962  0.096898  0.280188  0.186875
9  0.928016  0.423726  0.603306  0.462995

In [6]:
#Looking at the Data type
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [7]:
df.head()

          A         B         C         D
0  0.720911  0.051062  0.569506  0.561523
1  0.173205  0.995628  0.364326  0.022229
2  0.097346  0.250697  0.162018  0.493700
3  0.170719  0.923676  0.397296  0.297974
4  0.818420  0.928873  0.137527  0.806111

In [9]:
#show index
df.index

RangeIndex(start=0, stop=10, step=1)

In [10]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
df.values

array([[ 0.7209105 ,  0.05106221,  0.5695062 ,  0.56152281],
       [ 0.17320499,  0.99562831,  0.36432637,  0.02222936],
       [ 0.09734594,  0.25069702,  0.16201765,  0.49370005],
       [ 0.17071921,  0.92367597,  0.3972957 ,  0.29797405],
       [ 0.81842019,  0.92887283,  0.13752683,  0.80611124],
       [ 0.65006759,  0.23521223,  0.25279079,  0.14648331],
       [ 0.5692066 ,  0.13499644,  0.13606306,  0.10182131],
       [ 0.20352828,  0.46288391,  0.75589538,  0.52237394],
       [ 0.88696165,  0.09689804,  0.28018834,  0.1868748 ],
       [ 0.92801589,  0.42372583,  0.60330559,  0.46299478]])

In [16]:
print(df.sort_index(axis=0, ascending=False))

          A         B         C         D
9  0.928016  0.423726  0.603306  0.462995
8  0.886962  0.096898  0.280188  0.186875
7  0.203528  0.462884  0.755895  0.522374
6  0.569207  0.134996  0.136063  0.101821
5  0.650068  0.235212  0.252791  0.146483
4  0.818420  0.928873  0.137527  0.806111
3  0.170719  0.923676  0.397296  0.297974
2  0.097346  0.250697  0.162018  0.493700
1  0.173205  0.995628  0.364326  0.022229
0  0.720911  0.051062  0.569506  0.561523

In [17]:
df.sort_values(by='A')

          A         B         C         D
2  0.097346  0.250697  0.162018  0.493700
3  0.170719  0.923676  0.397296  0.297974
1  0.173205  0.995628  0.364326  0.022229
7  0.203528  0.462884  0.755895  0.522374
6  0.569207  0.134996  0.136063  0.101821
5  0.650068  0.235212  0.252791  0.146483
0  0.720911  0.051062  0.569506  0.561523
4  0.818420  0.928873  0.137527  0.806111
8  0.886962  0.096898  0.280188  0.186875
9  0.928016  0.423726  0.603306  0.462995

In [18]:
#Selecting value
df['A']

0    0.720911
1    0.173205
2    0.097346
3    0.170719
4    0.818420
5    0.650068
6    0.569207
7    0.203528
8    0.886962
9    0.928016
Name: A, dtype: float64

In [19]:
#Slicing range of row
df[0:2]

          A         B         C         D
0  0.720911  0.051062  0.569506  0.561523
1  0.173205  0.995628  0.364326  0.022229

In [26]:
#Slicing particular row
df.loc[0]

A    0.720911
B    0.051062
C    0.569506
D    0.561523
Name: 0, dtype: float64

In [23]:
df.loc[:,'A']

0    0.720911
1    0.173205
2    0.097346
3    0.170719
4    0.818420
5    0.650068
6    0.569207
7    0.203528
8    0.886962
9    0.928016
Name: A, dtype: float64

In [27]:
#access to data
df.at[0,'A']

0.72091050159281489

In [29]:
df.iloc[0]

A    0.720911
B    0.051062
C    0.569506
D    0.561523
Name: 0, dtype: float64

In [30]:
df

          A         B         C         D
0  0.720911  0.051062  0.569506  0.561523
1  0.173205  0.995628  0.364326  0.022229
2  0.097346  0.250697  0.162018  0.493700
3  0.170719  0.923676  0.397296  0.297974
4  0.818420  0.928873  0.137527  0.806111
5  0.650068  0.235212  0.252791  0.146483
6  0.569207  0.134996  0.136063  0.101821
7  0.203528  0.462884  0.755895  0.522374
8  0.886962  0.096898  0.280188  0.186875
9  0.928016  0.423726  0.603306  0.462995

In [32]:
#Selecting by condition
df[df.A>0.5]

          A         B         C         D
0  0.720911  0.051062  0.569506  0.561523
4  0.818420  0.928873  0.137527  0.806111
5  0.650068  0.235212  0.252791  0.146483
6  0.569207  0.134996  0.136063  0.101821
8  0.886962  0.096898  0.280188  0.186875
9  0.928016  0.423726  0.603306  0.462995

In [33]:
#Handling the missing Data
df2 = df[df < .5]

In [34]:
df2

          A         B         C         D
0       NaN  0.051062       NaN       NaN
1  0.173205       NaN  0.364326  0.022229
2  0.097346  0.250697  0.162018  0.493700
3  0.170719       NaN  0.397296  0.297974
4       NaN       NaN  0.137527       NaN
5       NaN  0.235212  0.252791  0.146483
6       NaN  0.134996  0.136063  0.101821
7  0.203528  0.462884       NaN       NaN
8       NaN  0.096898  0.280188  0.186875
9       NaN  0.423726       NaN  0.462995

In [35]:
#drop all row witch have Nan
df2.dropna()

          A         B         C       D
2  0.097346  0.250697  0.162018  0.4937

In [36]:
df2.fillna(value='1')

           A          B         C          D
0          1  0.0510622         1          1
1   0.173205          1  0.364326  0.0222294
2  0.0973459   0.250697  0.162018     0.4937
3   0.170719          1  0.397296   0.297974
4          1          1  0.137527          1
5          1   0.235212  0.252791   0.146483
6          1   0.134996  0.136063   0.101821
7   0.203528   0.462884         1          1
8          1   0.096898  0.280188   0.186875
9          1   0.423726         1   0.462995

In [37]:
#Statistics Operation
df.mean(1)

0    0.475750
1    0.388847
2    0.250940
3    0.447416
4    0.672733
5    0.321138
6    0.235522
7    0.486170
8    0.362731
9    0.604511
dtype: float64